<!DOCTYPE html>
<html ng-app="universidadAPP">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Ejercicio 02 - Profesor</title>


        <!-- Incluir Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        
        <!-- Incluir AngularJS -->
        <script src="js/lib/angular.min.js"></script>

        <!-- Referenciamos el archivo con los datos del profesor -->
        <script src="js/app.js"></script>


    </head>    
    <body>
        <!-- Le definimos el controlador que se encargara de este archivo, con alias profe -->
        <div class="container" ng-controller="profesorCtrl as profe">
            <h1>Profesor</h1>
            <h4>{{ profesor.nombre }}</h4>
            <hr>

            <div class="row">
                
                <!-- Div que contiene la imagen del profesor -->
                <div class="col-sm-3">
                    <section class="panel">
                        <div class="panel-body" align="center">
                            <img ng-src="{{ profesor.foto }}" class="img-circle" alt="" width="150px" height="150px">
                        </div>
                    </section>
                </div>

                <!-- Div, donde se mostrará la bio del profesor -->
                <div class="col-sm-9">
                    <section class="panel">
                        <div class="panel-body">
                            {{ profesor.bio }}
                            <br>
                            <br>
                            <strong>Edad:</strong> {{ profesor.edad }} años
                            <br>
                            <button class="btn btn-primary" ng-click="editarProfesor();">Editar</button>
                        </div>
                    </section>
                </div>
            </div>  
            
            <div class="row">
                
                <!-- Div que contiene la imagen del profesor -->
                <div class="col-sm-6">
                    <section class="panel">
                        <div class="panel-body">
                            Nombre:
                            <br>
                            <input class="form-control" type="text" ng-model="editando.nombre">
                            <br>
                            Edad:
                            <input class="form-control" type="text" ng-model="editando.edad">
                            <br>
                            Bio:
                            <br>
                            <textarea class="form-control " name="bio" id="bio" rows="5" ng-model="editando.bio"></textarea>
                            <br><br>
                            <button class="btn btn-primary" ng-click="guardarCambios();">Guardar</button>
                            <button class="btn btn-danger" ng-click="cancelarCambios();">Cancelar</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>
